#!/bin/bash

# Set nano as default editor
export EDITOR="nano"

# Setup PATH
export PATH=$HOME/.local/bin
export PATH=$PATH:/usr/local/sbin
export PATH=$PATH:/usr/local/bin
export PATH=$PATH:/usr/sbin
export PATH=$PATH:/usr/bin
export PATH=$PATH:/sbin
export PATH=$PATH:/bin
export PATH=$PATH:/snap/bin
export PATH=$PATH:/snap/bin
export PATH=$PATH:$HOME/admin/dotfiles/scripts/
export PATH=$PATH:$HOME/.cargo/bin
export PATH=$PATH:/usr/games

# Fix git log having no output
export PAGER=less

# Automatically install a program when it is not found
export COMMAND_NOT_FOUND_INSTALL_PROMPT=1

export PYTHONPATH="${PYTHONPATH}:/home/brian/Documents/thesis"
